html,
body {
    height: 100%;
    width: 100%;
}

.navbar {
    background: #f98022;
}

.nav-link {
    color: #fff;
    -webkit-transition: all .45s;
    transition: all .45s;
}

form {
    max-width: 500px;
}

@media (min-width: 0px) and (max-width: 900px){
    form{
        max-width: 80%;
    }
}